<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCourseLabel" jhiTranslate="eduApp.course.home.createOrEditLabel">Create or edit a Course</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!course.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="course.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.course.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="course.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.course.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="course.status" id="field_status" >
                <option value="ACTIVE">{{'eduApp.Status.ACTIVE' | translate}}</option>
                <option value="INACTIVE">{{'eduApp.Status.INACTIVE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.course.createDate" for="field_createDate">Create Date</label>
            <div class="d-flex">
                <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="course.createDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.course.modDate" for="field_modDate">Mod Date</label>
            <div class="d-flex">
                <input id="field_modDate" type="datetime-local" class="form-control" name="modDate" [(ngModel)]="course.modDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.course.fee" for="field_fee">Fee</label>
            <input type="number" class="form-control" name="fee" id="field_fee"
                [(ngModel)]="course.fee" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.course.durationYear" for="field_durationYear">Duration Year</label>
            <input type="number" class="form-control" name="durationYear" id="field_durationYear"
                [(ngModel)]="course.durationYear" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.course.durationMonth" for="field_durationMonth">Duration Month</label>
            <input type="number" class="form-control" name="durationMonth" id="field_durationMonth"
                [(ngModel)]="course.durationMonth" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.course.durationDay" for="field_durationDay">Duration Day</label>
            <input type="number" class="form-control" name="durationDay" id="field_durationDay"
                [(ngModel)]="course.durationDay" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.course.organization" for="field_organization">Organization</label>
            <select class="form-control" id="field_organization" name="organization" [(ngModel)]="course.organizationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="organizationOption.id" *ngFor="let organizationOption of organizations; trackBy: trackOrganizationById">{{organizationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
