<div>
    <h2>
        <span jhiTranslate="eduApp.batch.home.title">Batches</span>
        <button class="btn btn-primary float-right jh-create-entity create-batch-bli" [routerLink]="['/', { outlets: { popup: ['batch-bli-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="eduApp.batch.home.createLabel">
            Create new Batch
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="batches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="eduApp.batch.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDate"><span jhiTranslate="eduApp.batch.createDate">Create Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modDate"><span jhiTranslate="eduApp.batch.modDate">Mod Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="eduApp.batch.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endDate"><span jhiTranslate="eduApp.batch.endDate">End Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sudentCapacity"><span jhiTranslate="eduApp.batch.sudentCapacity">Sudent Capacity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subjectId"><span jhiTranslate="eduApp.batch.subject">Subject</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="studentId"><span jhiTranslate="eduApp.batch.student">Student</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="employeeId"><span jhiTranslate="eduApp.batch.employee">Employee</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let batch of batches ;trackBy: trackId">
                <td><a [routerLink]="['../batch-bli', batch.id ]">{{batch.id}}</a></td>
                <td jhiTranslate="{{'eduApp.Status.' + batch.status}}">{{batch.status}}</td>
                <td>{{batch.createDate | date:'medium'}}</td>
                <td>{{batch.modDate | date:'medium'}}</td>
                <td>{{batch.startDate}}</td>
                <td>{{batch.endDate}}</td>
                <td>{{batch.sudentCapacity}}</td>
                <td>
                    <div *ngIf="batch.subjectId">
                        <a [routerLink]="['../subject-bli', batch.subjectId  ]" >{{batch.subjectId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="batch.studentId">
                        <a [routerLink]="['../student-bli', batch.studentId  ]" >{{batch.studentId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="batch.employeeId">
                        <a [routerLink]="['../employee-bli', batch.employeeId  ]" >{{batch.employeeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../batch-bli', batch.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'batch-bli/'+ batch.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'batch-bli/'+ batch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="batches && batches.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
