<div>
    <h2>
        <span jhiTranslate="eduApp.organization.home.title">Organizations</span>
        <button class="btn btn-primary float-right jh-create-entity create-organization-bli" [routerLink]="['/', { outlets: { popup: ['organization-bli-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="eduApp.organization.home.createLabel">
            Create new Organization
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="organizations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eduApp.organization.name">Name</span></th>
            <th><span jhiTranslate="eduApp.organization.status">Status</span></th>
            <th><span jhiTranslate="eduApp.organization.accountStatus">Account Status</span></th>
            <th><span jhiTranslate="eduApp.organization.createDate">Create Date</span></th>
            <th><span jhiTranslate="eduApp.organization.modDate">Mod Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organization of organizations ;trackBy: trackId">
                <td><a [routerLink]="['../organization-bli', organization.id ]">{{organization.id}}</a></td>
                <td>{{organization.name}}</td>
                <td jhiTranslate="{{'eduApp.Status.' + organization.status}}">{{organization.status}}</td>
                <td jhiTranslate="{{'eduApp.AccountStatus.' + organization.accountStatus}}">{{organization.accountStatus}}</td>
                <td>{{organization.createDate | date:'medium'}}</td>
                <td>{{organization.modDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../organization-bli', organization.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'organization-bli/'+ organization.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'organization-bli/'+ organization.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
