<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDivisionLabel" jhiTranslate="eduApp.division.home.createOrEditLabel">Create or edit a Division</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!division.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="division.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.division.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="division.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.division.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="division.status" id="field_status" >
                <option value="ACTIVE">{{'eduApp.Status.ACTIVE' | translate}}</option>
                <option value="INACTIVE">{{'eduApp.Status.INACTIVE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.division.accountStatus" for="field_accountStatus">Account Status</label>
            <select class="form-control" name="accountStatus" [(ngModel)]="division.accountStatus" id="field_accountStatus" >
                <option value="PENDING">{{'eduApp.AccountStatus.PENDING' | translate}}</option>
                <option value="SUBSCRIBED">{{'eduApp.AccountStatus.SUBSCRIBED' | translate}}</option>
                <option value="UNSUBSCRIBED">{{'eduApp.AccountStatus.UNSUBSCRIBED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.division.createDate" for="field_createDate">Create Date</label>
            <div class="d-flex">
                <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="division.createDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.division.modDate" for="field_modDate">Mod Date</label>
            <div class="d-flex">
                <input id="field_modDate" type="datetime-local" class="form-control" name="modDate" [(ngModel)]="division.modDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.division.organization" for="field_organization">Organization</label>
            <select class="form-control" id="field_organization" name="organization" [(ngModel)]="division.organizationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="organizationOption.id" *ngFor="let organizationOption of organizations; trackBy: trackOrganizationById">{{organizationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
