<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmployeeLabel" jhiTranslate="eduApp.employee.home.createOrEditLabel">Create or edit a Employee</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!employee.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="employee.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="employee.status" id="field_status" >
                <option value="ACTIVE">{{'eduApp.Status.ACTIVE' | translate}}</option>
                <option value="INACTIVE">{{'eduApp.Status.INACTIVE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.jobType" for="field_jobType">Job Type</label>
            <select class="form-control" name="jobType" [(ngModel)]="employee.jobType" id="field_jobType" >
                <option value="TEACHER">{{'eduApp.JobType.TEACHER' | translate}}</option>
                <option value="ADMIN">{{'eduApp.JobType.ADMIN' | translate}}</option>
                <option value="RECEPTIONIST">{{'eduApp.JobType.RECEPTIONIST' | translate}}</option>
                <option value="MAINTAINER">{{'eduApp.JobType.MAINTAINER' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.createDate" for="field_createDate">Create Date</label>
            <div class="d-flex">
                <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" [(ngModel)]="employee.createDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.modDate" for="field_modDate">Mod Date</label>
            <div class="d-flex">
                <input id="field_modDate" type="datetime-local" class="form-control" name="modDate" [(ngModel)]="employee.modDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.joinDate" for="field_joinDate">Join Date</label>
            <div class="d-flex">
                <input id="field_joinDate" type="datetime-local" class="form-control" name="joinDate" [(ngModel)]="employee.joinDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.salary" for="field_salary">Salary</label>
            <input type="number" class="form-control" name="salary" id="field_salary"
                [(ngModel)]="employee.salary" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="employee.phone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="employee.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="employee.address" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eduApp.employee.organization" for="field_organization">Organization</label>
            <select class="form-control" id="field_organization" name="organization" [(ngModel)]="employee.organizationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="organizationOption.id" *ngFor="let organizationOption of organizations; trackBy: trackOrganizationById">{{organizationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
